@use '~/styles/common' as *;

.timeline {
	width: 100%;
	height: 100%;
}

.inner {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;

	// スマホ時は縦並び（タイムライン表示が上、再生制御が下）
	@media (max-width: $sp-width) {
		flex-direction: column-reverse;
	}
}

.content {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	flex: 1;
}

.setting {
	width: 150px;
	flex-shrink: 0;

	// スマホ時は横幅100%、高さを固定
	@media (max-width: $sp-width) {
		width: 100%;
		height: 150px;
	}
}