@use '~/styles/common' as *;

.timelineSetting {
	width: 100%;
	height: 100%;
	border-right: 2px solid $bgCol3;

	// スマホ時はborderを削除し、高さを固定に
	@media (max-width: $sp-width) {
		height: 150px;
		border-right: none;
		border-bottom: 2px solid $bgCol3;
	}
}

.playControls {
	display: flex;
	gap: 3px;
	margin-bottom: 3px;

	button {
		flex: 1;
		padding: 3px;
		cursor: pointer;
		transition: all 0.2s ease;

		&:active {
			transform: scale(0.95);
		}
	}
}